<%= form_with url: '/login' do |form| %>
  <% if flash[:notice] %>
    <div id="error_explanation">
      <h2><%= notice %></h2>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="actions">

    <%= form.submit 'Sign in' %>
  </div>
<% end %>
