<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<h2> List of <%= @user.username %> creates events: </h2>
<ul>
  <% @events.each do |eve| %>
    <li> Title: <%= eve.title %> Location: <%= eve.location %> </li>
  <% end %>
</ul>

<h2> List of events attended by <%= @user.username %> : </h2>
<ul>
    <% @attended_events.each do |event| %>
      <li> Title: <%= event.title %> Location: <%= event.location %> Date: <%= event.event_date %> </li>
    <% end %>
</ul>


<h2>List of Previous events </h2>
<ul>
  <% @previous_events.each do |event| %>
         <li>Title: <%= event.title %> Location: <%= event.location %> Date: <%= event.event_date %></li>
  <% end %>
</ul>

<h2>List of Upcomming events </h2>

<ul>
  <% @upcomming_events.each do |event| %>
     <li>Title: <%= event.title %> Location: <%= event.location %> Date: <%= event.event_date %></li>
  <% end %>
</ul>
