<p id="notice"><%= notice %></p>

<p>
  <strong>Created by:</strong>
  <%= @event.creator.full_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p> Event Attendees are : </p>
<ul>
 <% @attendees.each do |attendee| %>
    <li> <%= attendee.full_name %></li>
  <% end %>
</ul>

<br>
<%= link_to 'Back', events_path %>
