<p id="notice"><%= notice %></p>

<p>
  <strong>Created by:</strong>
  <%= @event.creator.full_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<h3> Event Attendees are : </h3>
<ul>
 <% @attendees.each do |attendee| %>
    <li> <%= attendee.full_name %></li>
  <% end %>
</ul>

<% if !already_subscribe? %>
  <h3> You want to attend this event? </h3>
  <%= link_to 'Attend Event', {:controller => "events", :action => "attend", :id => @event.id,}, method: :post %>
<% else %>
  <h3> You already subscribed to this event! </h3>
<% end %>


<br>
<%= link_to 'Back', events_path %>
